RFC that defines HTTP/1.1

According to the core standard, the document that defines HTTP/1.1 is [RFC 2616](https://www.rfc-editor.org/info/rfc2616). However, according to RFC 2616 it is obsoleted by RFC 7230, RFC 7231, RFC 7232, RFC 7233, RFC 7234 and RFC 7235. And when I look at Wikipedia, I can see

> HTTP/1.1 was first documented in RFC 2068 in 1997. That specification was obsoleted by RFC 2616 in 1999, which was likewise replaced by the RFC 7230 family of RFCs in 2014. 

and

> 
> The HTTP/1.1 standard as defined in RFC 2068 was officially released in January 1997. Improvements and updates to the HTTP/1.1 standard were released under RFC 2616 in June 1999.
> 
> In 2007, the HTTP Working Group was formed, in part, to revise and clarify the HTTP/1.1 specification. In June 2014, the WG released an updated six-part specification obsoleting RFC 2616:
> 
>     RFC 7230, HTTP/1.1: Message Syntax and Routing
>     RFC 7231, HTTP/1.1: Semantics and Content
>     RFC 7232, HTTP/1.1: Conditional Requests
>     RFC 7233, HTTP/1.1: Range Requests
>     RFC 7234, HTTP/1.1: Caching
>     RFC 7235, HTTP/1.1: Authentication

Shouldn't the normative reference be updated?

I can see the same issue in e.g. https://github.com/opengeospatial/oapi_common/blob/master/standard/clause_3_references.adoc and https://github.com/opengeospatial/ogcapi-records/blob/master/core/standard/clause_3_references.adoc



Meeting 2020-04-27: Reference the new version, but in a single reference, because we treat itas a single conformance class dependency. Something like: 

> Internet Engineering Task Force (IETF). RFC 7230 to RFC 7235: HTTP/1.1 [online]. ... Available at http://tools.ietf.org/rfc/rfc7230.txt, http://tools.ietf.org/rfc/rfc7231.txt, http://tools.ietf.org/rfc/rfc7232.txt, http://tools.ietf.org/rfc/rfc7233.txt, http://tools.ietf.org/rfc/rfc7234.txt, and http://tools.ietf.org/rfc/rfc7235.txt