CQL: (normative) references, dependencies and bibliography

The normative non-OGC references are listed as dependencies of the requirements classes. In Part 1 that was the case, e.g.

|Requirements Class | http://www.opengis.net/spec/ogcapi-features-1/1.0/req/core|
|---|---|
|Target type | Web API|
|Dependency | RFC 7230 to RFC 7235 (HTTP/1.1)|
|Dependency | RFC 2818 (HTTP over TLS)|
|Dependency | RFC 3339 (Date and Time on the Internet: Timestamps)|
|Dependency | RFC 8288 (Web Linking)|

OGC 06-103r4 (simple features) should e.g. be a dependency of Simple CQL and of Enhanced Spatial Operators, etc.

Should the JSON Schema specification be a normative reference instead of being listed in the bibliography because of recommendation 1?

"A Mathematical Framework for the Definition of Topological Relationships" should probably be placed in the bibliography instead of in the normative references (note that it is also a reference of OGC 06-103r4). And perhaps with a URL? The paper was uploaded to academia.edu by John Herring, see https://www.academia.edu/1420008/A_mathematical_framework_for_the_definition_of_topological_relationships.

And for consistency: if "A Mathematical Framework for the Definition of Topological Relationships" is present in the bibliography, then the paper(s) on Allen's interval algebra, that also the Time Ontology refers to, should probably also be present in the bibliography.

As for the formatting of the normative references: shouldn't [viewed yyyy-mm-dd] removed for all OGC documents, as those URLs are persistent and static? ISO 690 only recommends adding that for resources subject to changes.


Meeting 2021-06-07: @cportele will investigate and create a pull request.